# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
yarn.lock

# Output
dist/
build/
out/
*.tsbuildinfo

# Environment
.env
.env.*.local

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional
coverage/
.cache/
.tmp/
